<html>
  <head>
    <meta charset="utf-8" />
    <title>Arweave Frontier NFT</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    />
  </head>

  <body>
    <div
      style="
        background-color: #6f3efc;
        font-family: Roboto, Arial, sans-serif;
        font-weight: 400;
        margin: 0;
        height: 100%;
        text-align: center;
      "
    >
      <div
        class="center"
        style="
          background-color: white;
          display: inline-block;
          text-align: center;
          padding: 0 5%;
          height: 100%;
          max-width: 600px;
        "
      >
        <div
          class="header"
          style="
            background-color: white;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            margin-top: 1em;
          "
        >
          <img
            src="https://vt.communitylabs.com/email-header-logo.png"
            alt="header logo"
            style="margin: 0 auto; max-width: 100%"
          />
          <br />
          <img
            src="https://vt.communitylabs.com/email-arweave-logo-white.png"
            alt="Arweave Logo"
            style="margin: 0 auto; max-width: 30%"
          />
          <h2 style="font-size: x-large; font-weight: 500; margin-top: 1.5em">
            Congratulations!
          </h2>
        </div>

        <div
          class="hero"
          style="
            border-bottom: 1px solid lightgrey;
            padding: 30px;
            margin-bottom: 30px;
          "
        >
          <!-- <p style="font-weight: bold; font-size: 1.4em">Hi {{given_name}},</p> -->
          <p style="font-size: 0.9375em">
            You’ve successfully completed the Arweave Fundamentals course. On
            behalf of
            <a href="https://communitylabs.com/">Community Labs</a>
            and
            <a href="https://www.aftr.market/">AFTR</a>
            we are pleased to issue your official Certificate of Completion NFT.
          </p>
          <br />
          <br />
          <img
            src="https://vt.communitylabs.com/email-certificate.jpg"
            alt="Arweave Fundamentals Certificate"
            style="margin: 0 auto; max-width: 90%"
          />
          <br />
          <br />
          <p>
            <a
              style="
                background-color: #6f3efc;
                font-size: 0.875em;
                font-weight: bold;
                color: white;
                text-decoration: none;
                padding: 0.5em 1.5em;
                border-radius: 0.3em;
              "
              href="{{NFT-LINK}}"
              >View&nbsp;your&nbsp;NFT</a
            >
          </p>
        </div>

        <div class="footer" style="text-align: center">
          <div
            style="
              display: inline-flex;
              align-items: center;
              justify-content: center;
            "
          >
            <a
              style="line-height: 0; display: block"
              href="https://twitter.com/CommunityLabs"
              ><img
                height="24"
                width="24"
                alt="Twitter icon"
                src="https://vt.communitylabs.com/email-twitter.png"
            /></a>
            &nbsp;
            <a
              style="line-height: 0; display: block"
              href="https://communitylabs.com/"
              ><img
                height="24"
                width="24"
                alt="Link icon"
                src="https://vt.communitylabs.com/email-link.png"
            /></a>
            &nbsp;
            <a
              style="line-height: 0; display: block"
              href="https://www.linkedin.com/company/communitylabs1/"
              ><img
                height="24"
                width="24"
                alt="Linkedin icon"
                src="https://vt.communitylabs.com/email-linkedin.png"
            /></a>
          </div>

          <p style="color: #80868b; font-size: 0.75em; padding-top: 0.5em">
            <img
              src="https://vt.communitylabs.com/email-copyright.png"
              alt="©"
              title="©"
              style="
                height: 15px !important;
                width: 15px !important;
                vertical-align: text-bottom !important;
              "
              height="15"
              width="15"
            />
            Community Labs.&nbsp;All rights reserved.<br />
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
